/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.btnOne {
	-fx-background-image: url(../images/youtube.png);
	-fx-background-size: 64 64;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.btnTwo {
	-fx-background-image: url(../images/bitcoin-logo.png);
	-fx-background-size: 64 64;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.btnThree {
	-fx-background-image: url(../images/gmail.png);
	-fx-background-size: 64 64;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.btnFour {
	-fx-background-image: url(../images/raspberry.png);
	-fx-background-size: 64 64;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.btnFive {
	-fx-background-image: url(../images/delete.png);
	-fx-background-size: 64 64;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}