/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
	-fx-background-color: transparent;
}

.btn1 {
	-fx-background-image: url(../images/youtube.png);
	-fx-background-size: 64 64;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: transparent;
	-fx-cursor: hand;
}

.btn2 {
	-fx-background-image: url(../images/bitcoin.png);
	-fx-background-size: 64 64;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: transparent;
	-fx-cursor: hand;
}

.btn3 {
	-fx-background-image: url(../images/gmail.png);
	-fx-background-size: 64 64;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: transparent;
	-fx-cursor: hand;
}

.btn4 {
	-fx-background-image: url(../images/raspberry.png);
	-fx-background-size: 64 64;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: transparent;
	-fx-cursor: hand;
}

.btn5 {
	-fx-background-image: url(../images/cross.png);
	-fx-background-size: 32 32;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: transparent;
	-fx-cursor: hand;
}